* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(198, 208, 198);
  padding: 12px;
  a {
    text-decoration: none;
    color: green;
  }
}
nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}
nav li {
  padding: 5px;
}
nav li:hover {
  text-decoration: underline;
}
.img1 {
  display: block;
  /* aspect-ratio: calc(16 / 9); */
  width: 50vw;
  height: 95vh;
}
